.confetti {
  width: 10px;
  height: 10px;
  background-color: #e6b711;
  position: absolute;
  animation: confetti-fall 3s ease-in-out infinite;
}

@keyframes confetti-fall {
  0% {
    transform: translateY(-50px) rotate(0deg);
  }
  100% {
    transform: translateY(500px) rotate(720deg);
  }
}
