.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
  background-color: rgba(225, 225, 225, 0.77);
}

.page-container h1 {
  font-size: 4em;
  color: #0a8c34;
  display: inline;
}

.button {
  border-radius: 10px;
  border: none;
  background-color: #32ccb5;
  padding: 2rem;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: #f1f1f1;
}

.button:hover {
  background-color: rgba(50, 204, 181, 0.3);

}
